@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.ttf");
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.ttf");
}

@font-face {
  font-family: "Forum";
  src: url("../fonts/Forum-Regular.ttf");
}

:root {
  --bg-color: #0C0C0E;
  --main-text-color: #000;
  --bg-body-color: #FFF;
  --bg-title-color: #BB945F;
  --form-color: #8E8E8E;
}